<section class="article">
    <div class="container py-5">
        <h1 class="text-center">Latest Articles</h1>
        <div class="row py-5">
            <div class="col-lg-4">
                <div class="card">
                    <img src="assets/img/woman7.jpg" alt="" class="img-fluid">
                    <p class="pt-3"><a href="#">Does your life lack meaning</a></p>
                    <small>By admin / <span>Business </span></small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="assets/img/woman8.jpg" alt="" class="img-fluid">
                    <p class="pt-3"><a href="#">Does your life lack meaning</a></p>
                    <small>By admin / <span>Business </span></small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="assets/img/woman99.jpg" alt="" class="img-fluid">
                    <p class="pt-3"><a href="#">Does your life lack meaning</a></p>
                    <small>By admin / <span>Business </span></small>
                </div>
            </div>
        </div>
    </div>
</section>