<section class="parallex py-5">
    <div class="container py-5 text-white text-center">
        <div class="row py-3">
            <div class="col-lg-9 mx-auto">
                <h1>Wommen's lookbook</h1>
                <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae impedit, necessitatibus neque non, qui fuga id, et nam ipsa ut cupiditate. Expedita aut dolor veritatis debitis voluptates maxime accusamus! Nulla.</p>
                <button class="btn2">SHOP NOW</button>
                <button class="btn3">GET DEAL</button>
            </div>
        </div>
    </div>
</section>