<section class="collection">
    <div class="container py-5">
        <h1 class="text-center">New Collection</h1>
        <div class="row py-5">
            <div class="col-lg-3">
                <div class="card">
                    <img src="../../../assets/img/womna.jpg" alt="" class="img-fluid mb-3">
                    <input type="button" value="Add to cart">
                    <h5>PRODUCT NAME</h5>
                    <p><small><del>$24.90</del><span>$12.99</span></small></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="../../../assets/img/woman1.jpg" alt="" class="img-fluid mb-3">
                    <input type="button" value="Add to cart">
                    <h5>PRODUCT NAME</h5>
                    <p><small><del>$24.90</del><span>$12.99</span></small></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="../../../assets/img/woman2.jpg" alt="" class="img-fluid mb-3">
                    <input type="button" value="Add to cart">
                    <h5>PRODUCT NAME</h5>
                    <p><small><del>$24.90</del><span>$12.99</span></small></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="../../../assets/img/woman4.jpg" alt="" class="img-fluid mb-3">
                    <input type="button" value="Add to cart">
                    <h5>PRODUCT NAME</h5>
                    <p><small><del>$24.90</del><span>$12.99</span></small></p>
                </div>
            </div>
        </div>
    </div>
</section>